.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding-block: 43px;
}
.header--fixed {
  padding-block: 16px;
  background-color: var(--header-bg);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lang {
  position: relative;
  padding-left: 42px;
}
@media (width <= 1450px) {
  .lang {
    padding-left: clamp(0.938rem, -4.904rem + 8.31vw, 2.625rem);
  }
}
.lang__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-color);
  gap: 3px;
}

.header__menu {
  flex-grow: 1;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 85px;
}
@media (width <= 1450px) {
  .menu__list {
    gap: clamp(0.938rem, -14.207rem + 21.54vw, 5.313rem);
  }
}
.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-color);
  padding: 5px 5px;
  background: var(--hover-color);
  -webkit-background-clip: text;
  background-clip: text;
  transition: var(--transition-time) ease;
}
.menu__link:hover {
  color: transparent;
}
.menu__link:focus-visible {
  transition: none;
}
@media (width <= 1125px) {
  .menu__link {
    font-size: clamp(0.875rem, -0.99rem + 3.01vw, 1.125rem);
  }
}
.menu__link-icon {
  position: relative;
  top: 7px;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (width <= 1125px) {
  .header__button-main {
    padding: clamp(0.938rem, -1.859rem + 4.51vw, 1.313rem)
      clamp(1rem, -1.331rem + 3.76vw, 1.313rem);
    font-size: clamp(1rem, 0.068rem + 1.5vw, 1.125rem);
  }
  .header__button-active {
    padding: clamp(0.938rem, -1.859rem + 4.51vw, 1.313rem)
      clamp(1rem, -1.331rem + 3.76vw, 1.313rem);
    font-size: clamp(1rem, 0.068rem + 1.5vw, 1.125rem);
  }
}
@media (width <= 992px) {
  .header,
  .header--fixed {
    padding-block: 12px;
  }
}
